* {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(109, 109, 217);
    background-image: url('https://4kwallpapers.com/images/wallpapers/porsche-911-gt3-r-2560x2560-11539.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    margin-top: 10%;
}

#image {
    max-width: 80%;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

.container {
    margin: 5vh 25vw;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    font-size: 20px;;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .container {
        margin: 10vh 5vw 10vh;
        font-size: 2rem;
    }
    .file * {
        font-size: 1.5rem;
    }
}